/*
    Created on : 14-04-2018, 13:39:47
    Author     : Jan Aakjær <jan.aakjaer at jan-aakjaer.dk>
*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgray; 
}

section {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

header, footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


